/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-container {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    flex-grow: 1;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 5px;
}

.controls button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:hover {
    background-color: #777;
}

#audio-visualization {
    height: 200px;
    background-color: #444;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sliders {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sliders label {
    margin-right: 10px;
}

.sliders input[type="range"] {
    width: 150px;
    margin-right: 20px;
}

.sliders button {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sliders button:hover {
    background-color: #777;
}

/* Placeholder for traffic lights */
.traffic-lights-placeholder {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
